* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --Naranja: rgb(243, 115, 42);
  --Blanco: #ffffff;
  --Negro: #000000;
  --Gris: #313131;
  --Gris2: #1D1C1C;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #000000;
}

.Logo {
  position: absolute;
  width: 150px;
  margin: 30px;
}

.nav__container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  overflow: hidden;
  background-color: #000000;
}

.nav__container a {
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav__dropdown {
  float: left;
  overflow: hidden;
}

.nav__dropdown__svg {
  -webkit-filter: invert(82%) sepia(2%) saturate(0%) hue-rotate(32deg) brightness(95%) contrast(91%);
          filter: invert(82%) sepia(2%) saturate(0%) hue-rotate(32deg) brightness(95%) contrast(91%);
}

.nav__search {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-bottom: 1px solid #f3732a;
  margin: 10px;
  margin-bottom: 18px;
  padding-left: 2px;
}

.nav__searchsvg {
  margin-bottom: 20px;
  width: 16px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.nav__bugerIco {
  display: none;
  height: 20px;
}

.nav__container a:hover, .nav__dropdown:hover .nav__dropdown__btn {
  background-color: #313131;
}

.nav__dropdown .nav__dropdown__btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav__dropdown__content {
  display: none;
  position: absolute;
  background-color: #313131;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav__dropdown__content a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav__dropdown__content a:hover {
  background-color: #313131;
}

.nav__dropdown:hover .nav__dropdown__content {
  display: block;
}

.nav__dropdown__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greet {
  background-image: url("assets/img/greetBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h1home {
  color: var(--Blanco);
  font: 50px bold;
  text-align: center;
  margin: 0px 20px 20px 20px;
}

.h3home {
  font: 30px bold;
  color: var(--Blanco);
  margin: 20px;
}

.articulos {
  background-image: url("assets/img/articulosBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 560px;
}

.articulos_container {
  padding: 25px;
}

.galeria_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--Blanco);
  overflow-x: auto;
}

.galeria_container::-webkit-scrollbar {
  width: 1em;
  height: .5em;
}

.galeria_container::-webkit-scrollbar-thumb {
  background: var(--Naranja);
  border-radius: 10px;
}

.galeria_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.galeria_container a {
  color: var(--Blanco);
  margin: 20px;
}

.gal_img {
  width: 300px;
  height: 300px;
  /* animation: GaleriaRtoL 3s; */
}

.gal__shadow {
  -webkit-box-shadow: black 0px 5px 15px;
          box-shadow: black 0px 5px 15px;
}

.gal_img_f1 {
  height: inherit;
}

.img_title {
  font-size: calc(.9rem + .6vw);
}

.cuadro {
  text-align: center;
  text-align: -webkit-center;
}

@-webkit-keyframes GaleriaRtoL {
  from {
    margin-left: 1000px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes GaleriaRtoL {
  from {
    margin-left: 1000px;
  }
  to {
    margin-left: 0;
  }
}

.nosotros {
  background-color: var(--Gris);
  overflow: hidden;
}

.serviciotitulo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 2 / 5;
  margin: 10px 20px 20px 20px;
}

.nosotros_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  height: 650px;
}

.nosotros_img_container {
  text-align: center;
}

.nosotros_img_container > img {
  max-width: 100%;
  max-height: 100%;
}

.servicio_container1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 4 / 3;
}

.servicio_container2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 6 / 3;
}

.servicio_container3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4 / 3 / 6 / 5;
}

.servicio_container4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2 / 3 / 4 / 5;
}

.servicio_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.servicioST {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / 2 / 5;
}

.servicioP {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2 / 1 / 4 / 5;
}

.number_container_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number_container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: var(--Naranja);
  color: var(--Negro);
  text-align: center;
}

.number {
  font-size: 15px;
}

.servicio {
  color: var(--Blanco);
}

.sobreMi {
  background-color: var(--Gris2);
  color: var(--Blanco);
  overflow: hidden;
  padding: 15px;
}

.sobreMi_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: .5fr 1fr 1fr 1fr .5fr;
      grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 90%;
}

.miTitle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / 2 / 7;
}

.sobremi-p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2 / 1 / 4 / 5;
  font-size: 1.1rem;
  inline-size: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portrait1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 2 / 5 / 5 / 7;
}

.sobremi-ul1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 6 / 3;
}

.sobremi-ul2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4 / 3 / 6 / 5;
}

.portrait1_img {
  max-width: 100%;
}

ul {
  display: inline-block;
  padding: 0.5em;
  padding-left: 2em;
  margin: 0.5em;
}

.sobremiul {
  list-style: none;
}

.sobremiul > li {
  clear: left;
}

ul.sobremiul > li:before {
  content: "";
  height: 1em;
  width: 1em;
  display: block;
  float: left;
  margin-left: -1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("assets/ico/check-lg.svg");
  -webkit-filter: invert(73%) sepia(44%) saturate(7463%) hue-rotate(344deg) brightness(99%) contrast(92%);
          filter: invert(73%) sepia(44%) saturate(7463%) hue-rotate(344deg) brightness(99%) contrast(92%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--Negro);
  -webkit-box-shadow: inset 0 0 10px var(--Naranja);
          box-shadow: inset 0 0 10px var(--Naranja);
}

.logoFooter {
  position: relative;
}

.socialmedia-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin-right: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homefooter {
  -webkit-filter: invert(73%) sepia(44%) saturate(7463%) hue-rotate(344deg) brightness(99%) contrast(92%);
          filter: invert(73%) sepia(44%) saturate(7463%) hue-rotate(344deg) brightness(99%) contrast(92%);
}

.homefooter__svg {
  height: 25px;
}

.tips {
  background-image: url("assets/img/tipsbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 12px;
  overflow: hidden;
}

.anchorCorrection {
  display: block;
  visibility: hidden;
  height: 100px;
  margin-top: -100px;
}

.tip {
  text-align: center;
}

.tips_container {
  padding: 25px;
}

.tipsgal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tips_container a {
  color: var(--Blanco);
}

.tip_img {
  width: 150px;
  height: 150px;
}

.tip__pie {
  max-width: 155px;
}

.searchtip {
  text-align: center;
}

.search2 {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f3732a;
  margin: 10px;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 15px 28px 2px var(--Negro);
          box-shadow: 0 15px 28px 2px var(--Negro);
  padding: 2px;
}

.svgTip {
  -webkit-filter: initial;
          filter: initial;
}

.videos_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.videos {
  background-color: var(--Negro);
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  overflow: hidden;
}

.videos iframe {
  margin: 20px;
}

.videolist {
  background-image: url("assets/img/adnytbanner.jpg");
  margin-top: 20px;
  width: 250px;
  height: 450px;
  overflow: hidden;
}

.videolist2 {
  background-image: url("assets/img/bannerHorizontalYTadn.jpg");
  display: none;
  height: 150px;
  width: 95%;
  margin: 10px 0 0px 20px;
}

.contact-title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 40px;
}

.whole-wrap-contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 115, 42, 0.75)), to(rgba(243, 115, 42, 0.75))), url("assets/img/contactbackground.jpg");
  background: linear-gradient(rgba(243, 115, 42, 0.75), rgba(243, 115, 42, 0.75)), url("assets/img/contactbackground.jpg");
  background-size: contain;
  background-repeat: round;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8%;
  overflow: hidden;
}

.contact-body {
  background-color: black;
}

.info_c {
  border: 45px solid transparent;
}

.info_c_title {
  font-size: 1.2rem;
  font-weight: 900;
  white-space: nowrap;
  color: var(--Blanco);
}

.c_form {
  width: 100%;
  height: 100%;
  background-color: var(--Blanco);
  border: 45px solid var(--Blanco);
}

.c_input {
  margin: 10px 10px 10px 0px;
  padding: 15px;
  background-color: rgba(194, 194, 194, 0.4);
  width: 100%;
  border: none;
}

.socialMediaIcon_container {
  margin: 40px 10px 10px -15px;
}

.socialMediaIcon_container img {
  height: 1.8em;
}

.c_btn {
  width: 100%;
  border: none;
}

.c_send {
  width: 100%;
  background: var(--Naranja);
  color: var(--Blanco);
  height: 2.5em;
  border: 1px solid;
  border-radius: 6%;
  font-size: 12px;
}

.c_send:hover {
  background: radial-gradient(var(--Naranja), #eb983a);
}

.c_send:active {
  background: radial-gradient(var(--Naranja), #f08c19);
}

#mensaje_contacto {
  resize: none;
  border-radius: 8%;
}

.honeypot_ {
  display: none;
}

@media (max-width: 768px) {
  .active {
    position: absolute;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
    top: 90px;
    height: 90vh;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: black;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--Gris);
    opacity: .5;
  }
  .wrapHide {
    display: none;
  }
  .nav__bugerIco {
    display: block;
    margin-right: 20px;
  }
  .h1home {
    margin-top: 60px;
  }
  .h1Articulos {
    margin-top: 0;
  }
  .h3homeGreet {
    font: 1.17em bold;
  }
  .nosotros_container {
    display: block;
    height: inherit;
  }
  .sobreMi_container {
    display: block;
    width: inherit;
  }
  .sobremi-p {
    inline-size: 100%;
  }
  .h1tips {
    margin: 10px;
  }
  .tips {
    height: inherit;
  }
  .tipsgal_container {
    overflow-x: scroll;
  }
  .tipsgal_container > * {
    padding: 10px;
  }
  .videolist {
    display: none;
  }
  .videolist2 {
    display: block;
  }
}

@media (min-width: 1800px) and (max-width: 2800px) {
  .nav__container {
    height: 150px;
  }
  .nav__container a {
    font-size: 3em;
  }
  .Logo {
    width: 15em;
  }
  .wrapHide > a {
    font-size: 3em;
  }
  .wrapHide {
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__dropdown__btn {
    font-size: 3em !important;
  }
  .nav__searchsvg {
    width: 2em;
  }
  .h1home {
    font: 5em bold;
  }
  .svgArt {
    width: .5em !important;
  }
  .galeria_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .servicioST {
    font-size: 2.3em;
  }
  .nosotros_img_container {
    text-align: center;
  }
  .servicioP, .sobremiul, .sobremi-p, .nombreynick {
    font-size: 1.3em;
  }
  .socialMediaIcon_container img {
    height: inherit;
  }
  .svgTip {
    width: 2em;
  }
  .info_c_title, .c_input, .c_send {
    font-size: 2em;
  }
}

@media (min-width: 2801px) {
  .nav__container {
    height: 150px;
  }
  .nav__container a {
    font-size: 3em;
  }
  .Logo {
    width: 15em;
  }
  .wrapHide > a {
    font-size: 3em;
  }
  .wrapHide {
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__dropdown__btn {
    font-size: 3em !important;
  }
  .nav__searchsvg {
    width: 2em;
  }
  .h1home {
    font: 6em bold;
  }
  .h3home {
    font: 4em bold;
  }
  .greet_container {
    margin: auto;
  }
  .svgArt {
    width: .5em !important;
  }
  .galeria_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .servicioST {
    font-size: 4em;
  }
  .servicioP, .sobremiul, .sobremi-p, .nombreynick {
    font-size: 2em;
  }
  .nosotros_container {
    height: inherit;
  }
  .number_container {
    width: 9rem;
    height: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .number {
    font-size: 4.5em;
  }
  .socialMediaIcon_container img {
    height: 6em;
    margin: 2em;
  }
  .svgTip {
    width: 2em;
  }
  .info_c_title, .c_input, .c_send {
    font-size: 4em;
  }
  .nosotros_img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .tipsgal_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .videos_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .videolist {
    width: 95%;
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */