.articulos {
    background-image: url('assets/img/articulosBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;     
    height: 560px;
}
 
  .articulos_container {
    padding: 25px;
  }
 
  .galeria_container {
    display: flex;
    color: var(--Blanco);
    overflow-x: auto;
  }

  .galeria_container::-webkit-scrollbar {
    width: 1em;
    height: .5em;
  }
  
.galeria_container::-webkit-scrollbar-thumb {
  background: var(--Naranja);
  border-radius: 10px;
}
.galeria_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
 
 .galeria_container a{
   color: var(--Blanco);
   margin: 20px;
 }
 
 
 .gal_img {
   width: 300px;
   height: 300px;
  /* animation: GaleriaRtoL 3s; */
 }
 
 .gal_img_f1 {
   height: inherit;
 }
 
 @keyframes GaleriaRtoL {
   from {
     margin-left: 1000px;
   }
   to {
     margin-left: 0;
   }
 }
 